body {
    font-family: "Mountains of Christmas", serif;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom,#1a2664 0%, #0e1333 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* stars */

#stars, #stars2, #stars3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    z-index: -3;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    z-index: -2;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinite;
    z-index: -1;
}

#stars:after, #stars2:after, #stars3:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100%;
}

@keyframes animStar {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100vh);
    }
}

#answers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#create-new-profile {
    margin-top: 20px;
}

button#create-new-profile {
    font-family: "Mountains of Christmas", serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #03446A;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#create-new-profile:hover {
    background-color: #022c4a;
}

.answer-card {
    width: 200px;
    height: 400px;
    perspective: 1000px;
    margin: 50px;
    position: relative;
}

.card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform-origin: center;
}

.answer-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.card-front {
    background-image: url(assets/profilefront.png);
    background-size: cover;
    background-position: center;
    color:#e4a9c3;
}

.card-back {
    background-image: url(assets/profileback.png);
    background-size: cover;
    background-position: center;
    color: #022c4a;
    transform: rotateY(180deg);
}

.card-front p, .card-back p {
    margin: 10px 0;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}